/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {

  line-height: 1;
}

ol, ul {

  list-style: none;

}

blockquote, q {

  quotes: none;

}

blockquote:before, blockquote:after,
q:before, q:after {

  content: '';
  content: none;

}

table {

  border-collapse: collapse;
  border-spacing: 0;

}


 /*===universal pseudo-elements,
 *:before and *:after, to select every imaginable element and change the box-sizing to border-box.====*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}  

/*==========================================
  USEFUL LINKS
  
Encoding Special Characters   http://copypastecharacter.com
CSS Pseudo-classes: https://www.w3schools.com/css/css_pseudo_classes.asp
CSS Matic - https://www.cssmatic.com/
Colors:  https://www.color-hex.com/
Icons: https://www.copypastecharacter.com/

==========================================*/


/*=== *** Contenedores ***====*/

.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
  padding: 0;
}

.contenedor p {
  margin-bottom: 40px;
}

.testing{
 background: rgba(22, 22, 22, 0.8);
}



 /* ========================================
Clearfix  "Containing Floats "
  --
this basically ensures that when applying float to elements, if we apply this class to the parent container element of that floated element, this clearfix will ensure the flow of the document after and before it wont be affected by the float
  ========================================*/


/* ===Clearfix  "Containing Floats" ====*/
/*this basically ensures that when applying float to elements, if we apply this class to the parent container element of that floated element, this clearfix will ensure the flow of the document after and before it wont be affected by the float */

.clearfix:before,
.clearfix:after {

  content: "";
  display: table;

}

.clearfix:after {

  clear: both;
}


.clearfix {

  clear: both;
  *zoom: 1;

}

 
/*===Typography===*/


p {

  color: #fff;
  font-family: Century Gothic, Arial;
  text-align: justify;
  margin-left: 55px;
  margin-right: 55px;
  margin-bottom: 50px;
  margin-top: 30px;
  line-height: 20px;
}

h1 {

  font-family: Century Gothic, Arial;
  position: absolute;
  margin-bottom: 0px;
  top: 478px;
  right: 570px;
  text-align: center;
  font-size: 25px;
  line-height: 44px;
  color: #FFD000;
}

h2 {

  font-family: Winter Brush Demo;
  font-size: 45px;
  margin-bottom:0px;
  margin-top: 45px;
  color: #FFD000;
  text-align: center;
  top:0;
}

strong {
  font-weight: 400;

}

cite, em {

  font-style: italic;
}


hr {

  background-color: #FFD000;
  height: 3px;
  width: 90%;
  margin: 60px;
  padding: 0;
}


/*===<a> Links ===*/

a {

  color: #000000;
  text-decoration: none;

}

a:hover {
  color: #a9b2b9;
}

p a {

  border-bottom: 1px solid #000000;
}

.primary-header a,
.primary-footer a {
  color: #fff;

}

.primary-header a:hover,
.primary-footer a:hoover {

  color: #000000;

}


  /*===Buttons===*/

.btn {

  font-family: Century Gothic, Arial;
  border-radius: 20px;
  display: inline-block;
  margin: 0px;
  color: #ffff;
  cursor: pointer;
  padding: 9px;
  letter-spacing: 0px;
  text-transform: uppercase;

}


.btn-alt {

  border: 1px solid #000000;
  padding: 10px 30px;

}

.btn-alt:hover {

  background: #fff;
  color: #FFD000;

}

.btn-default {

  border: 0;
  background: #008158;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;

}

.btn-default:hover {

  background: #FFD000;

}


/*=== Primary header===*/

.musicsimbol { 

	height: 30px;
	width: 95px;
	position: relative;
	top: 8px;

}

.hdmarg {

  padding:  0 15px 5px 8px ;
  width: 100%;
  height: 50px;

}


.primary-nav {

  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 22px;
  margin-top: 9px;
  float: right;

}


/*===Navigation===*/

.nav {
  text-align: right;

}


.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}



 /*===========================================================
              *******    Main Styling    ************
  ==========================================================/*



  /*========================================
  Main Content/Home
  ========================================
  +++++++++++++*/

.maintitle {
  background: url(../img/headerHome.jpg)  center no-repeat;

}

/*===Additional PAGE 1 ===*/

.inlineblk {
  display: inline-block;
}

body{

	background: #000000 url("../img/fondo.png") repeat;
}


.controlBar {

  background-color: #efefef;
  width: 100%;
  margin: 0px ;
  top: 0px;

}

.subBanner {

  height: 40px;
}


 
/*===Seccion Artistas destacados===*/

.columnNestaMarley {
  background: #b2b2b2 url("../img/NestaMarley.jpg") center center no-repeat;
   /*background-color, background-image, background-position, and then background-repeat.*/
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin-right: 90px;
  margin-left:  110px;


}

.columnTootsHibbert{
  background: url("../img/TootsHibbert.jpg") center center no-repeat;
   /*background-color, background-image, background-position, and then background-repeat.*/
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin-right: 90px;
  margin-left:  90px;

}

.columnJimmyCliff {
  background: #b2b2b2 url("../img/JimmyCliff.jpg") center center no-repeat;
   /*background-color, background-image, background-position, and then background-repeat.*/
  display: inline-block;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  margin-right: 90px;
  margin-left:  90px;
}

.textimage {
  font-family: Century Gothic, Arial;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 300px;
  background-size: 200px 300px;
  border-radius: 15px;
  margin-top: 250px;


}


/*===Segunda seccion===*/

.estilosiconos {
  font: 14px;
  font-family: Century Gothic;
  color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;

}

.iconos {
  margin: opx;
  padding: 0px;

  
}
.iconos div {

  display: inline-block;
  padding: 0px;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 40px;
  height: 180px;
  width: 180px;
}

.iconos span {

  display: block;
  margin-top: 90%;
}

.div1 {
  background: url("../img/dancehall.png") no-repeat;  
  background-size:  80% 80% ;
  background-position: center top;
}

.div1 audio {
  display:  none;
}

.div1:hover audio {

  display: block;
  margin-bottom: 60px;
  position: relative;
  bottom: 100px;
  right: 40px;
}

.div1:hover  {

  box-shadow: 5px 10px 18px #9542f4;
}


.div2 {
  background: url("../img/dub.png")no-repeat;
  background-size:  80% 80% ;
  background-position: center top;
}


.div2 audio {
  display:  none;
}

.div2:hover audio {

  display: block;
  margin-bottom: 60px;
  position: relative;
  bottom: 100px;
  right: 40px;
}
.div2:hover  {

  box-shadow: 5px 10px 18px #9542f4;
}


.div3 {
  background: url("../img/roots.png")no-repeat; 
  background-size:  80% 80% ;
  background-position: center top;
}

.div3 audio {
  display:  none;
}

.div3:hover audio {

  display: block;
  margin-bottom: 60px;
  position: relative;
  bottom: 100px;
  right: 40px;
}
.div3:hover  {

  box-shadow: 5px 10px 18px #9542f4;
}


.div4 {
  background: url("../img/fusion.png")no-repeat;
  background-size:  80% 80% ;
  background-position: center top;
}

.div4 audio {
  display:  none;
}

.div4:hover audio {

  display: block;
  margin-bottom: 60px;
  position: relative;
  bottom: 10px;
  right: 40px;
}

.div4:hover  {

  box-shadow: 5px 10px 18px #9542f4;
}

.div5 {
  background: url("../img/reggaeton.png")no-repeat;
  background-size:  80% 80% ;
  background-position: center top;
}

.div5 audio {
  display:  none;
}

.div5:hover audio {

  display: block;
  margin-bottom: 60px;
  position: relative;
  bottom: 100px;
  right: 40px;
}

.div5:hover  {

  box-shadow: 5px 10px 18px #9542f4;
}







/*=== Primary footer===*/

footer {


  width: 1920px;
  height: auto;
  background-color: #161616;

}

.primary-footer {

  padding-top: 14px;
  color: #FFD000;
  font-size: 14px;

}

.primary-footer small {

  float: left;

}


  /*========================================
  Additional PAGE 2
  ========================================
*/


  /*========================================
  Additional PAGE 3
  ========================================
*/









/*
  ========================================
  Table Styling - Optional- 
  ========================================
*/


/*  JUST FOR CHECK LINES--
table,
thead,
th,
tr,
td {
  border: 1px solid black;
} 

/*
table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}



th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: #000000;
  font-size: 24px;
}
tbody th {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  border-top: 1px solid #000000;
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
*/

